<div class="tour-detail" *ngIf="tour">
  <h1>{{ tour.title }}</h1>

  <img [src]="tour.image" alt="{{ tour.title }}">

  <p class="location">{{ tour.location }}</p>

  <div class="price-box">
    <span class="price">${{ tour.price }}</span>
    <span class="old-price" *ngIf="tour.sale">{{ tour.oldPrice }}</span>
  </div>

  <p class="desc">{{ tour.description }}</p>

  <h3>Gallery</h3>
  <div class="gallery" *ngIf="tour.gallery?.length">
    <img *ngFor="let img of tour.gallery" [src]="img" />
  </div>
</div>
