.destination-card {
  position: relative;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease;
}

.destination-card:hover {
  transform: scale(1.02);
}

.dest-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
}

h2 {
  font-size: 20px;
  margin-left: -30px;
  text-align: center;
  font-weight: 600;
}

p{
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
  width: 250px;
  margin-left: 5px;
}
