<header class="header">
  <div class="content">
    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <span class="dec">:</span>
      <a routerLink="/tour/1" routerLinkActive="active">Tours</a>
      <span class="dec">:</span>

      <a routerLink="/blog" routerLinkActive="active">About</a>
      <span class="dec">:</span>

      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>

    <div class="right">
      <button class="search-btn"><a routerLink="/search">Search</a></button>

      <img src="header/profile.png" alt="" />
    </div>
  </div>
</header>
