<header class="header">
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <span class="dec">:</span>
    <a routerLink="/travel" routerLinkActive="active">Travel</a>
    <span class="dec">:</span>
    <a routerLink="/pages" routerLinkActive="active">Pages</a>
    <span class="dec">:</span>

    <a routerLink="/shop" routerLinkActive="active">Shop</a>
    <span class="dec">:</span>

    <a routerLink="/blog" routerLinkActive="active">Blog</a>
    <span class="dec">:</span>

    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>

  <button class="search-btn">Search</button>
</header>
