.hero {
  position: relative;
  height: 550px;
  overflow: hidden;
  margin-bottom: 18px;
}
.hero img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(43, 43, 43, 0.45);
}
.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
  top: 0;
  justify-content:center;
  flex-direction: column;
  z-index: 2;
  color: #fff;
}
.hero-content h1 {
  font-size: 50px;
  margin: 0;
}

.container {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  margin: 28px auto;
  padding: 0 16px;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: space-between;
}

.filters {
  width: 400px;
  min-width: 240px;
  margin-left: -50px;
}

.filter-block {
  margin-bottom: 30px;
}

.label {
  display:block;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 20px;
}

input[type="text"], select {
  width: 350px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #e3e3e3;
  font-size: 14px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

select{
    height: 45px;
    width: 370px;
}

.checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px 12px;
  width: 350px;

}

.chk { 
  font-size: 16px; 
  color: #6E6E6E; 
  width: 150px;
  margin: 10px 10px 10px 0;
}

.filter-actions { margin-top: 10px; }
.filter-actions button {
  background: #1BBC9B;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.results { 
  flex: 1;
  margin-left: 150px; 
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    justify-self: center;
  }

  .container{
    flex-direction: column;
  }

  .filters{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    margin: 0;
  }

  .results{
    margin: 0;
  }


}

.pagination {
  margin-top: 26px;
  display:flex;
  gap:10px;
  align-items:center;
  justify-content:center;
}
.pagination button {
  background: #434A54;
  padding: 8px 12px;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.pagination button.active {
  background: #1BBC9B;
}

.grid app-tour-card {
  transform: scale(0.84); 
  transform-origin: top;
  margin-bottom: -80px;
  margin-left: -20px;
  margin-right: -20px;
}

hr{
    background-color: #d4d3d3;
    border: none;
    height: 1px;
    width: 370px;
    margin: 20px 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 350px;
  height: 8px;
  background: #E4E4E4;
  border-radius: 4px;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #434A54;
  border-radius: 2px;
  cursor: pointer;
  margin-top: -2px;
}
