.travel-footer {
    position: relative;
    width: 100%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.footer-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.60);
    z-index: 1;
}


.footer-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 90px 250px;
    
}

.footer-left h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
}

.footer-right {
    display: flex;
    gap: 230px;
}

.footer-right h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-right p {
    font-size: 18px;
    line-height: 1.6;
}

.email-btn {
    display: inline-block;
    background: #1BBC9B;
    padding: 12px 28px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.phone {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
}

.social-icons a {
    color: white;
    font-size: 22px;
    margin-right: 15px;
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.8;
}

@media (max-width: 900px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .footer-right {
        flex-direction: column;
        gap: 40px;
    }
}
