<div
  class="tour-card"
  [ngClass]="themeClass"
  [ngStyle]="{ width: cardWidth }"
>
  <div class="sale-badge" *ngIf="displayTour?.sale">SALE</div>

  <div class="card-image">
    <img [src]="displayTour?.image" alt="{{ displayTour?.title }}" />
  </div>

  <div class="card-info">
    <div class="duration">
      <img [src]="'tour-card/icons/' + themeClass.replace('theme-', '') + '/time.png'" alt="time" />
      {{ displayTour?.duration }}
    </div>

    <div class="icons">
      <img
        [src]="'tour-card/icons/' + themeClass.replace('theme-', '') + '/email.png'"
        alt="email"
      />
      <img [src]="'tour-card/icons/' + themeClass.replace('theme-', '') + '/map.png'" alt="map" />
    </div>
  </div>

  <h2>{{ displayTour?.title }}</h2>

  <div class="location">
    <img
      [src]="'tour-card/icons/' + themeClass.replace('theme-', '') + '/destination.png'"
      alt="destination"
    />
    {{ displayTour?.location }}
  </div>
  <hr />
  <p class="desc">{{ displayTour?.description }}</p>
  <hr />
  <div class="bottom">
    <button class="details-btn" (click)="go()">Details</button>

    <div class="price">
      <br><span class="new">${{ displayTour?.price }}</span>
      <span class="old" *ngIf="tour?.sale">${{ displayTour?.oldPrice }}</span>
    </div>
  </div>
</div>
