.tour-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px 60px;
}

.tour-card {
  width: 420px;
  height: 660px;
  background: #fff;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
  transition: 0.3s;
}

.tour-card:hover {
  transform: translateY(-4px);
}

.card-image img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.sale-badge {
  position: absolute;
  top: 18px;
  width: 64px;
  height: 24px;
  right: 18px;
  border-radius: 15px;
  color: white;
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}

.card-info {
  margin: 20px;
  padding: 15px;
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 15px 0px #0000001A;

}

.card-info img {
  width: 18px;
}

.duration {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

h2 {
  margin: 30px;
  font-size: 22px;
  font-weight: 700;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: -16px 15px 10px 30px;
  color: #666;
}

.location img {
  width: 16px;
}

hr{
  width: 340px;
  margin-top: 25px;
  height: 1px;
  background-color: #E4E4E4;
  border: none;
}

.desc {
  margin: 30px 15px 30px 30px;
  color: #6E6E6E;
  line-height: 1.5;
  width: 340px;
  font-size: 16px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px 0 30px;
}

.details-btn {
  padding: 10px 25px;
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.price {
  margin-top: -5px;
  font-size: 14px;
  margin-right: 20px;
}

.price .new {
  font-size: 25px;
  font-weight: 700;
  margin-left: 8px;
}

.price .old {
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.5;
  margin-left: 5px;
  margin-right: 10px;
}

.theme-aqua .details-btn { background: #14B9D5; }
.theme-aqua .sale-badge  { background: #14B9D5; }

.theme-green .details-btn { background: #1BBC9B; }
.theme-green .sale-badge  { background: #1BBC9B; }

.theme-purple .details-btn { background: #BA71DA; }
.theme-purple .sale-badge  { background: #BA71DA; }

.theme-red .details-btn { background: #F76570; }
.theme-red .sale-badge  { background: #F76570; }
