.hero {
  width: 100%;
  height: 90vh;
  background-image: url('/home1/map.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.846); 
  z-index: 1;
}

.hero-content {
  position: relative; 
  z-index: 2;
  color: black;
  text-align: left;
  margin: 200px;
}

.tag {
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0.7;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.1;
}

.search-wrapper {
  margin-top: 2rem;
}

.container{
  padding: 100px 0 0 200px;
}

.intro {
  text-align: left;
  padding: 80px 0;
}

.sub-title {
  color: #39caba;
  margin-bottom: 10px;
  font-size: 14px;
}

.title {
  font-size: 50px;
  width: 640px;
  margin-bottom: 20px;
  line-height: 60px;
}

.desc {
  width: 640px;
  opacity: 0.7;
  text-align: left;
  margin-bottom: 30px;
}

.more-btn {
  background: #1BBC9B;
  padding: 10px 24px;
  border-radius: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* _______________________________________________________________ */

.category-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px 0 60px -170px;
}

.category {
  position: relative;
  width: 420px;
  height: 120px;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
}

.cont {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute
}

.icon{
  position: relative;
  width: 80px;
  left: 20px;
  top: 20px;
}

/* ___________________________________________________________________ */

.tour-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 424px));
  gap: 30px;
  padding: 40px 60px;
  margin-left: -60px;
}
